body{
    text-align: center;
    background-color: #ffe4b5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #444;
}
h1{
    font-size: 2.5em;
    color: #3e2723;
}
h2{
    font-size: 2em;
    color: #5d4037;
}
h3{
    font-size: 1.2em;
    color: #5d4037;
}
p{
    font-size: 1em;
    color: #444;
}
ul{
    display: inline-block;
    text-align: left;
}
.copyright{
    font-size: 75%;
    margin: 0 10px;
    padding: 0 20px;
}
#level-title {
    font-family: 'Montserrat', sans-serif;
    margin:  3%;
  }
.container{
    display: block;
    width: 50%;
    margin: auto;
}
.btn{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 25px;
    border: 10px solid;
    border-radius: 20px;
}
.green{
    background-color: #2ecc71;
    border-color: #27ae60;
}
.red{
    background-color: #e74c3c;
    border-color: #c0392b;
}
.yellow{
    background-color: #f39c12;
    border-color: #d35400;
}
.blue{
    background-color: #3498db;
    border-color: #2980b9;
}
.game-over{
    background-color: #e74c3c;
    opacity: 0.8;
}
.pressed{
    box-shadow: 0 0 20px;
    background-color: #323232;
}

@media(max-width:600px){
    body{
        font-size: 12px;
    }
    .container{
        width: 100%;
    }
    .btn{
        height: 100px;
        width: 100px;
    }
}
